
/* ------ Спецификация ------ */

body {
	font-family: 'Montserrat', sans-serif;
	color: #000;
	padding: 0;
	letter-spacing: 0em;
	margin: 0;
}
div, p, form, input, a, span, button {
	box-sizing: border-box;
}
p {
	margin: 0;
	font-size: 15px;
	line-height: 1.3em;
	letter-spacing: 0em;
}
ul, li {
	display: block;
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	color: #000;
	line-height: 1em;
	letter-spacing: 0em;
}
a, a:hover, a:active {
	text-decoration: none;
}
a, button, input {
	transition: all 0.5s ease;
}
input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active {
	outline: none;
}
h1 {

	font-size: 56px;
}
.btn {
	color: #fff;
	font-weight: 600;
	background: #FF0000;
	display: block;
	width: 234px;
	height: 50px;
	text-align: center;
	border-radius: 10px;
	line-height: 38px;
	font-size: 16px;
	letter-spacing: 0.02em;
	outline: none;
	border: 1px solid transparent;
	-webkit-transition: 1s ease-out;
	transition:  1s ease-out;
	box-shadow: 0px 0px 30px rgba(255, 0, 0, 0.4);
}
.btn:hover {
	background: #fff;
	color: #fe0000;
	border: 1px solid #fe0000;
	box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.4)inset;
}
.container {
	width: 1230px;
	margin: 0 auto;
}

.title-h2 {
	color: #0048a1;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 700;	
}
.title-h3 {
	color: #000;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
	font-weight: 700;
	line-height: 1.2em;
}
.title-h3 span {
	color: #fe0000;
}
.title-h4 {
	font-size: 24px;
}
/*------ HEADER -----*/
.header {

}
.header__wrap {
	border-bottom: 1px solid #FE0000;	
}
.navigation {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	padding: 28px 0px 28px;

}
.logo {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.logo__img {

}
.logo__text {
	font-size: 19px;
	font-weight: 700;
	font-style: italic;
	text-transform: uppercase;
	color: #000;
}
.navigation__number {
	display: none;
	font-weight: 500;
}
.navigation__number:hover {
	color: #fe0000;
}
.menu {
	margin: 0px auto;
}
.menu__list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.menu__list li {
	margin: 0px 0px 0px 43px; 
}
.menu__list li a {
	color: #000;
}
.menu__list li a:hover {
	color: #fe0000;
}

.navigation__btn {
	margin-left: auto;
}
.header__img {
	margin-top: 30px;
}
/*----AGENTS----*/
.agents {
	padding-bottom: 50px;
	position: relative;
}
.agents:after {
	/*content: '';
	display: block;
	position: fixed;
	width: 100px;
	height: 105px;
	background: url(../img/target.png)no-repeat;
	top: 15px;
	left: 0px;*/
}
.agents__title {
	font-size: 32px;
	text-transform: uppercase;
	margin: 45px auto 80px;
	text-align: center;
}
.agents__title span {
	color: #fe0000;
}
.digit {

}
.digit__title {
	font-size: 22px;
}
.digit__title span {
	color: #fe0000;
	font-size: 30px;
}
.digit__text {
	
}
.digit_one {
	margin-right: 40px;
}
.digit_two {
	margin-left: 80px;
}
.digit_three {
	margin-left: 115px;
}
.agent {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 100px;
	width: 30%;
}
.agent_two {
	width: 34%;
}
.agents__wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.agent__wrap {
	padding-top: 20px;
}
.agent__img {
	margin-right: 20px;
}
.agent__title {
	font-size: 18px;
}
.agent__text {

}
/*----- HISTORY-----*/
.history {
	padding-top: 50px;
	padding-bottom: 50px;
}
.history__title {
	margin-bottom: 50px;
}
.card {
	border-radius: 10px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	padding: 25px 10px 28px 15px;
}
.card__wrap {

}
.card__wrap-one {
	text-align: center;
	border-bottom: 1px solid #dfdfdf;
	padding-bottom: 28px;
}
.card__wrap_two {
	padding-top: 25px;
}
.card__wrap_margin {
	padding-bottom: 9px;
}
.card__img {
	
}
.card__img_wrap {
	height: 70px;
	display: flex;
    align-items: center;
    justify-content: center;
}
.card__span {
	display: flex;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 7px;
    justify-content: center;
    align-items: center;
    height: 40px;
}
.card__text {

}
.card__wrap_wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.card__img-mini {

}
.card__inner {
	margin-left: 13px;
	padding-top: 4px;
}
.card__title {
	font-size: 12px;
	margin-bottom: 5px;
}
.card__text-mini {
	font-size: 13px;
}
.card__btn {
	display: block;
	width: 186px;
	height: 33px;
	border-radius: 10px;
	border: 1px solid #fe0000;
	line-height: 30px;
	text-align: center;	
	font-size: 12px;
	color: #fe0000;
	margin: 10px auto 0px;
	font-weight: 500;
}
.card__btn:hover {
	background: #fe0000;
	color: #fff;
}
.card__btn_one {
	margin-top: 26px;
}
.big-btn {
	margin: 50px auto 0;
	width: 342px;
}


/*----- TASKS ------*/
.tasks {
	padding-top: 50px;
	padding-bottom: 35px;
}
.tasks__wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 40px;
}
.tasks__title {
	margin-bottom: 50px;

}
.task {
	border-radius: 10px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	padding: 20px 14px 16px 10px;
	width: 373px;
}
.task_two {
	margin: 0px 40px 0px 40px;
}
.task__wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.task__inner {
	margin-left: 20px;
	padding-top: 2px;
}
.task__title {
	font-size: 15px;
	margin-bottom: 14px;
}
.task__text {
	margin-bottom: 14px;
	font-size: 14px;
}
/*----- JOB-----*/
.jobs {
	padding-top: 50px;
	padding-bottom: 40px;
}
.jobs__title {
	margin-bottom: 40px;
}
.job_one {
	
}
.job_two {
	padding: 0px 0px 0px 3px;
}
.job_three {
	
}
/*------SERVICES------*/
.services {
	padding-top: 45px;
}
.services__title {
	margin-bottom: 45px;
}
.services__wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.servic {
	border-radius: 10px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	padding: 25px 30px 25px 25px;
	width: 289px;
}

.servic__title {
	font-size: 16px;
	text-transform: uppercase;
	line-height: 1.2em;
	margin-bottom: 10px;
}
.servic__text {
	line-height: 1.2em;
}
.servic__text span {
	color: #fe0000;
}




/*----FOOTER----*/
.footer {
	padding-top: 50px;
	padding-bottom: 150px;
	position: relative;
}
.footer__wrap_one {
    display: block;
    position: absolute;
    bottom: -160px;
    right: -315px;
    width: 315px;
    height: 500px;
    background: url(../img/shooter.png)no-repeat;
    background-size: contain;
    overflow: hidden;


}
.footer__wrap_two {
    display: block;
    position: absolute;
    bottom: 5px;
    right: -308px;
    width: 315px;
    height: 150px;
    transform: rotate(2deg);
    background: url(../img/arrow2.png)no-repeat;
    background-size: contain;
    transition: 0.2s ease-out;
	overflow: hidden;
}
.footer__wrap_two-transform {
	transform: translate3d(-476px, -133px, 0px);
}
.contact {
	border-radius: 10px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	padding: 36px 108px 35px 108px;
	position: relative;
}
.contact:after {
	content: '';
	display: block;
	position: absolute;
	background: url(../img/target.png)no-repeat;
	top: 50px;
	left: 18px;
	width: 94px;
	height: 112px;
}
.contact__text {
	font-size: 14px;
	text-align: center;
	margin-bottom: 55px;
}
.form {
	padding: 0px 38px 0px;
}
.form__input {
	width: 100%;
	border: none;
	height: 50px;
	border-bottom: 1px solid #fe0000;
	padding-left: 2px;
	margin-bottom: 10px;

}
.form__input::placeholder {
	font-size: 12px;
	letter-spacing: 0.05em;
}
.form__btn {
	width: 100%;
	margin: 38px auto 0px;
}

.wpcf7-form-control-wrap>input{
	font-size: 12px;
	letter-spacing: 0.05em;
	color: #7e7e7e;
}
/* ----------- BOX-MODAL ----------*/
.box-modal {
	position: relative;
	width: 412px;
	padding: 0px 0px 0px 0px;
	background: #fff;
	color: #081d42;
	border-radius: 10px;
	text-align: center;
}
.box-modal_close { position: absolute; right: 10px; top: 6px; font-size: 11px; line-height: 15px; color: #999; cursor: pointer; }
.box-modal_close:hover { color: #666; }

.arcticmodal-container_i {
	border: none;
}
.box-modal .contact:after {
	display: none;
}
.box-modal .contact {
	padding: 40px 30px;
}

/*----HAMBURDER----*/

.menu-open {
	position: relative;
}

.menu-open:after {
	content: '';
    display: block;
    position: absolute;
    background: transparent;
    width: 58px;
    height: 58px;
    border: 2px solid #fff;
    border-radius: 50%;
    top: -26px;
    left: 36px;
    opacity: 0;
}
.menu-open span,
.menu-open span:before,
.menu-open span:after {
  	top: 50%;
    margin-top: -2.5px;
    left: 70%;
    width: 33px;
    height: 3px;
    background: #fe0000;
    margin-left: auto;
    display: block;
}
.menu-open span:before,
.menu-open span:after {
  	content: '';
  	display: block;
  	transition: 0.2s;
}
.menu-open span:before {
  transform: translateY(-8px);
  width: 42px;
  margin-left: -9px;
}
.menu-open span:after {
    transform: translateY(7px);
    width: 24px;
}
/*.menu-open_active span {
	height: 0;
}*/
/*.menu-open_active span:before {
  	transform: rotate(-45deg);
}
.menu-open_active span:after {
  	transform: rotate(45deg);
}*/
.menu-open_active .menu-open:after {
	opacity: 1;
}

.menu-collapse {
	
}
.menu-opened {
	display: block !important;
}

